[scl]

# current year
SCL_CUR_YR=

# license holder
SCL_LIC_HLDR=

# license type
SCL_LIC_TYP=

# license year
SCL_LIC_YR=

# author
SCL_AUFR=

# pattern name
SCL_PTN_NM=

# software version
SCL_PTN_VER=

# project name
SCL_PRJ_NM=